[class^="box"] {
  margin: 3rem auto;
  background-color: #ff4500;
}
.box {
  width: 300px;
  height: 300px;
}
.box-flexible {
  width: 50%;
  height: 20vh;
}
.box-flexible-2 {
  max-width: 960px;
  min-width: 280px;
  max-height: 480px;
  min-height: 280px;
}
.box-flexible-3 {
  max-width: 960px;
  min-width: 280px;
  max-height: 480px;
  min-height: 280px;
  width: 300px;
  height: 30px;
}
.box-flexible-4 {
  max-width: 960px;
  min-width: 280px;
  max-height: 480px;
  min-height: 280px;
  width: 50%;
  height: 20vh;
}
/* -----Imágenes Responsivas------- */

img {
  max-width: 100%;
  height: auto;
}
